



nav {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 100px 0 0;
}
.logo {
    margin-right: auto;
    padding: 5px 25px;

}

body {
    background-color:darkseagreen;
}



